*{
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family:"poppin",sans-serif;
}
body{
  background:white;
  color:black;
}
.header img{
  position: relative;
  margin-left: 100px;
  margin-top: 20px;
}
.header{
  position:fixed ;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 800;
  margin-left: 80px;
}
.navbar a{
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 800;
  margin-left: 35px;
  transition: .3s;
}
.navbar a:hover,
.navbar a.active{
  color: rgb(209, 136, 79);

}

.about {
  display: flex;
  /* margin: 100px 0; */
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30%;
  margin-left: 110px;
  /* padding: 20px; */
}
.about p{
  font-size: 20px;
  /* margin-left: 100px; */
  padding: 30px;
}
.about-img{
  filter: drop-shadow(-15px 2px 0px  rgba(43, 182, 217, 0.36));
  margin-left: 300px;
  
}
.about-img img{
  width: 300px;
  height: 300px;
  clip-path: circle(90% at 74% 14%);
}
.about-container{
  width: 450px;
}